default: &default
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: 30
  username: postgres
  password: 

development:
  <<: *default
  database: gg
  username: postgres
  password: postgres

test:
  <<: *default
  database: gg

production:
  <<: *default
  database: gg
  username: postgres
  password: postgres